<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
             <ng-template pTemplate="left">
             <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDemandes()"></button>
             </div>
             </ng-template>
             <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="file/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
             </ng-template>

            </p-toolbar>
            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedDemandes" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des Demandes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt,$event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon></th>
                        <th pSortableColumn="motif">Motif <p-sortIcon field="motif">Motif</p-sortIcon></th>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="selectedCertificateType">Type certificat <p-sortIcon field="selectedCertificateType"></p-sortIcon></th>
                        <th pSortableColumn="createur">Createur<p-sortIcon field="createur"></p-sortIcon></th>
                        <th pSortableColumn="actualisateur">Actualisateur <p-sortIcon field="actualisateur"></p-sortIcon></th>
                        <th pSortableColumn="etatDossier">Etat <p-sortIcon field="etatDossier"></p-sortIcon></th>
                        <th pSortableColumn="matriculeAgent">MatriculeAgent <p-sortIcon field="matriculeAgent"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demande of demandes>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="demande"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{demande.id || demande.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Reference</span>
                            {{demande.reference}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Motif</span>
                            {{demande.motif}}
                        </td>
                       
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Date</span>
                            {{demande.date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{demande.certificateType}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Createur</span>
                            {{demande.nom_agent_creer}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Actualisateur</span>
                            {{demande.nom_agent_mise_jour}}
                        </td>
                       <td style="width:14%; min-width: 10rem;">
                        <span class="p-column-title">Etat</span>
                        {{demande.etatDossier}}
                       </td>
                       <td style="width:14%; min-width: 10rem;">
                        <span class="p-column-title">Matricule</span>
                        {{demande.matriculeAgent}}
                       </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDemande(demande)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDemande(demande)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            
        </div>
    </div>

    <p-dialog [(visible)]="demandeDialog" [style]="{width: '900px'}" header="Demande Details" [modal]="true" class="p-fluid">

    <ng-template pTemplate="content">
        

         <div class="field">
            <label for="name">Matricule</label>
            <input type="text" pInputText id="matricule" [(ngModel)]="demande.matriculeAgent" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !demande.matriculeAgent}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.matriculeAgent">Maticule is required.</small>
        </div> 

        <!-- <div class="field">
            <label for="name">Type certificat</label>
            <input type="text" pInputText id="name" [(ngModel)]="demande.date" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !demande.date}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.date">Name is required.</small>
        </div> -->


        <div class="field">
            <label for="motif">Motif</label>
            <!-- <input type="text" pInputText id="motif" [(ngModel)]="demande.motif" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !demande.motif}"/> -->
            <textarea id="motif" pInputTextarea [(ngModel)]="demande.motif" required rows="3" cols="20" [ngClass]="{'ng-invalid ng-dirty' : submitted && !demande.motif}"></textarea>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.motif" >Motif is required.</small>
        </div>


        <div class="field">
           <label for="date">Date</label>
			<p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="demande.date"></p-calendar>
        </div>

        <!-- <div class="col-12">
            <div class="card">
                <h5>Advanced</h5>
                <p-fileUpload name="demo[]" url="./upload.php" 
                              [multiple]="true" >
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}}</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
                <h5>Basic</h5>
                <p-fileUpload mode="basic" name="demo[]" url="./upload.php"   ></p-fileUpload>
            </div>
        </div> -->

        

       <div class="field col-12">
        <label for="certificateType" [style]="{width:'150px'}">Type de Certificat</label>
        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.certificateTypes">Maticule is required.</small> -->
        <p-dropdown
          id="certificateType"
          [(ngModel)]="selectedCertificateType"
          [options]="certificateTypes"
          (onChange)="updateRequiredFiles()"
          placeholder="Sélectionnez un type de certificat"
        ></p-dropdown>
        
        <ng-container *ngIf="requiredFiles.length > 0">
          <label for="fichiers">Champs de fichiers requis</label>


          <div *ngFor="let file of requiredFiles">
            <p-fileUpload
              type="file"
              [id]="file.fieldName"
              [name]="file.fieldName"
              (onSelect)="onFileUploadDocumentSimple($event, file.fieldName)"
              required
            ></p-fileUpload>
            <label [for]="file.fieldName">{{ file.label }}</label>
          </div>
          
          <!-- <div *ngFor="let file of requiredFiles">
            <p-fileUpload type="file" [id]="file.fieldName" [name]="file.fieldName" required></p-fileUpload>
           commentaire encore <input type="file" [id]="file.fieldName" [name]="file.fieldName" required>
            <label [for]="file.fieldName">{{ file.label }}</label>
          </div> -->
          
        </ng-container>
      </div>
      
    </ng-template>  




    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDemande()"></button>
    </ng-template> 
    </p-dialog>


    


    <!-- <p-dialog [(visible)]="deleteDemandesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete selected demandes?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDemandesDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog> -->
</div>