<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Listes des demandes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="motif">Motif <p-sortIcon field="motif"></p-sortIcon></th>
                        <th pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="matricule">MatriculeAgent<p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="etatDossier">Etat<p-sortIcon field="etatDossier"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="demande"></p-tableCheckbox>
                        </td>
                 
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{demande.id || demande.id}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Motif</span>
                        {{demande.motif}}
                        </td>

                       <td style="width:14%; min-width: 10rem;">
                        <span class="p-column-title">Date</span>
                        {{demande.date}}
                       </td>
                       <td style="width:14%; min-width: 10rem;">
                        <span class="p-column-title">Matricule</span>
                        {{demande.matriculeAgent}}
                       </td>
                       <td style="width:14%; min-width: 10rem;">
                        <span class="p-column-title">Etat</span>
                        {{demande.etatDossier}}
                       </td>
                       
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDemande(demande)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDemande(demande)"></button>
                                <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDemande(demande)"></button> -->
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>




        <p-dialog [(visible)]="demandeDialog" [style]="{width: '800px'}" header="Ajout / Mise à jour" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="name">Matricule</label>
                    <input type="text" pInputText id="matricule" [(ngModel)]="demande.matriculeAgent"  [ngModelOptions]="{standalone: true}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.matriculeAgent">Maticule is required.</small>
                </div> 

                <div class="field">
                    <label for="name">Motif</label>
                    <input type="text" pInputText id="motif" [(ngModel)]="demande.motif"  [ngModelOptions]="{standalone: true}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.motif">Maticule is required.</small>
                </div> 

                <div class="field">
                    <label for="date">Date</label>
                    <input type="date" pInputText id="date" [(ngModel)]="demande.date"  [ngModelOptions]="{standalone: true}"/>
                </div> 
                <!-- <div class="field">
                    <label for="name">Type certificat</label>
                    <input type="text" pInputText id="name" [(ngModel)]="demande.date" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !demande.date}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !demande.date">Name is required.</small>
                </div> -->


    

<!-- 
                <div class="field">
                    <label for="certificateType" [style]="{width:'150px'}">Type de Certificat</label>
                  <p-dropdown
                      id="certificateType"
                      [(ngModel)]="selectedCertificateType"
                      [options]="certificateTypes"
                      (onChange)="updateRequiredFiles()"
                      name="certificateType" 
                      placeholder="Sélectionnez un type de certificat"
                    ></p-dropdown>

                  <ng-container *ngIf="requiredFiles.length > 0">
                    <label for="fichiers">Champs de fichiers requis</label>
                    <div *ngFor="let file of requiredFiles">
                      <input type="file" id="single-file-input" #fileInput />
                    </div>
                  </ng-container>
                  
                </div> -->
            </ng-template>



            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> 
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"  (click)="saveDemande()" ></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDemandeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="demande">Are you sure you want to delete <b>{{demande.etatDossier}}</b>?</span>
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDemandeDialog = false"></button>
                <!-- <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(demande)"></button> -->
            </ng-template>
        </p-dialog>
<!-- 
        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->

    </div>
</div>







<!-- <div>
    <h2>File Operations</h2>
  
    <div>
      <label for="single-file-input">Select Single File:</label>
      <input type="file" id="single-file-input" (change)="onFileSelected($event)" />
      <button (click)="uploadSingleFile()">Upload Single File</button>
    </div>
  
    <div>
      <label for="multiple-file-input">Select Multiple Files:</label>
      <input type="file" id="multiple-file-input" multiple (change)="onMultipleFilesSelected($event)" />
      <button (click)="uploadMultipleFiles()">Upload Multiple Files</button>
    </div>
  
    <div>
      <label for="download-file-input">Download File:</label>
      <button (click)="downloadFile('your-file-name.pdf')">Download File</button>
    </div>
  </div> -->

  <!-- <div>
    <h3>Demande Creation</h3>
    <div>
      <label for="motif">Motif:</label>
      <input type="text" id="motif" [(ngModel)]="demande.motif" />
    </div>
  
    <div>
      <p-fileUpload
        name="file"
        url="http://localhost:9090/api/upload-single-file" 
        chooseLabel="Choose"
        uploadLabel="Upload"
        cancelLabel="Cancel"
        [customUpload]="true"
        (uploadHandler)="createDemande()"
      ></p-fileUpload>
    </div>
  
    <div>
      <button type="button" pButton (click)="createDemande()">Submit</button>
    </div>
  </div>
   -->